{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Pagina home {{ nome }}</h2>    
    <p>Ir para a pagina sobre <a href="/about">clique aqui</a> </p>
    <hr>
    <h3>Informaçao de Pessoas</h3>
    <p>Nome: {{ pessoa.nome }}</p>
    <p>Idade: {{ pessoa.idade }}</p>
    <p>Cidade: {{ pessoa.cidade }}</p>
    
    
</body>
</html>